# Runs build related jobs.

name: build

# Limits workflow concurrency to only the latest commit in the PR.
concurrency:
    group: "${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}"
    cancel-in-progress: true

on:
    push:
        branches: [main, next]
    pull_request:
        types: [opened, reopened, synchronize]

permissions:
    contents: read

jobs:
    no-std:
        name: build for no-std
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@main
            - name: Cleanup large tools for build space
              uses: ./.github/actions/cleanup-runner
            - uses: Swatinem/rust-cache@v2
              with:
                  # Only update the cache on push onto the next branch. This strikes a nice balance between
                  # cache hits and cache evictions (github has a 10GB cache limit).
                  save-if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/next' }}
            - name: build
              run: |
                  rustup update --no-self-update
                  rustup target add wasm32-unknown-unknown
                  make build-no-std
                  make build-no-std-testing

    build-benches:
      name: Check benchmarks compilation
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@main
        - name: Cleanup large tools for build space
          uses: ./.github/actions/cleanup-runner
        - uses: Swatinem/rust-cache@v2
          with:
            # Only update the cache on push onto the next branch. This strikes a nice balance between
            # cache hits and cache evictions (github has a 10GB cache limit).
            save-if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/next' }}
        - name: build benches
          run: cargo bench --no-run
